@use "@/styles/variables" as var;
@use "@/styles/extension" as *;

.description {
  margin-top: var(--margin-l);
  font-weight: 600;
}

.title {
  margin-top: var(--margin-xl);
  margin-bottom: var(--margin-l);
  font-size: var(--font-size-heading-1);
  font-weight: 600;
}

.notesList {
  display: grid;
  gap: var(--margin-m);
  margin-top: var(--margin-m);
}

.input {
  padding: var(--padding-s);
  font-size: var(--font-size-base);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-s);
}
