@use "@/styles/variables" as var;
@use "@/styles/extension" as *;

:global(body) {
  background: var(--color-text);
}

.wrapperInner {
  padding: var(--margin-l) var(--margin-m);
  background-color: var(--color-background);
  min-height: 100dvh;
}

.banner1,
.banner2,
.banner3,
.banner4 {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 25%;
  height: 100dvh;
  transform: translateY(-100%);
  background-color: var(--color-text);
}

.banner1 {
  left: 0;
}
.banner2 {
  left: 25%;
}
.banner3 {
  left: 50%;
}
.banner4 {
  left: 75%;
}
