@use "@/styles/variables" as var;
@use "@/styles/extension" as *;

.wrapperInner {
  padding: var(--margin-l) var(--margin-m);
}
:global(body) {
  background: var(--color-text);
}

.wrapperInner {
  background-color: var(--color-background);
  min-height: 100dvh;
}

:global([data-transition-type="default"]),
:global([data-transition-type="panel"]) {
  .wrapperInner {
    opacity: 1;
  }
  .banner1,
  .banner2,
  .banner3,
  .banner4 {
    transform: translateY(0%);
  }
}

:global([data-transition-type="fade"]) {
  .wrapperInner {
    opacity: 0;
  }
  .banner1,
  .banner2,
  .banner3,
  .banner4 {
    transform: translateY(-100%);
  }
}

:global([data-transition-type="zoom"]) {
  .wrapper {
    perspective: 10000px;
  }
  .wrapperInner {
    opacity: 0;
  }
  .banner1,
  .banner2,
  .banner3,
  .banner4 {
    transform: translateY(0%);
  }
}

.banner1,
.banner2,
.banner3,
.banner4 {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 25%;
  height: 100dvh;
  transform: translateY(-100%);
  background-color: var(--color-text);
}

.banner1 {
  left: 0;
}
.banner2 {
  left: 25%;
}
.banner3 {
  left: 50%;
}
.banner4 {
  left: 75%;
}
