@use "@/styles/variables" as var;
@use "@/styles/extension" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;

  // background-color: var(--color-header);
  // backdrop-filter: blur(rem(10));
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--margin-m);
}

.title {
  font-size: rem(32);
  font-weight: 700;
  color: var(--color-text);
  letter-spacing: 0.04em;
  transition: color 0.3s ease;
}

@media (hover: hover) {
  .header a:hover {
    color: var(--color-primary);
  }
}
