@use "@/styles/variables" as var;
@use "@/styles/extension" as *;

.footer {
  width: 100%;
  padding: var(--margin-m) var(--margin-m) var(--margin-l);
  margin-top: var(--margin-xxl);
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  @include mq-lt("md") {
    grid-template-columns: 1fr;
    width: fit-content;
    margin: auto;
  }
}

.stack {
  display: flex;
  gap: var(--margin-s);
  font-size: var(--font-size-small);
  @include mq-lt("md") {
    display: block;
    width: fit-content;
    margin-top: var(--margin-xl);
  }

  ul {
    flex: 0 0 auto;
  }

  svg {
    position: relative;
    width: rem(12);
    height: rem(12);
    margin-left: var(--margin-xxs);
  }

  a {
    display: inline-flex;
    gap: rem(--margin-s);
    align-items: center;
    text-decoration: underline;
  }
}

.stack__title {
  flex: 0 1 auto;
  @include mq-lt("md") {
    flex: 0 0 auto;
  }
}

.copyright {
  margin-top: var(--margin-xl);
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  text-align: center;
}
